@import 'base';

header {
    background: $dark-blue;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float:left;
    width: 100%;

    ul {
        list-style: none;
        overflow: hidden; 
        margin: 0px;
        padding-right: 40px;

        li {
            float: left;
            font-size: 20px;

            a {
                display: block;
                padding: 10px;
                color: $light-blue;
                text-decoration: none;

                &:hover {
                    background-color:darkblue;
                    //color: rgb(154, 25, 205);
                }
            }
        }

        .logout {
            float: right;
            font-size: 20px;
            padding: 4px;

            button {
                background-color: transparent;
                border: 2px solid blue;
                border-radius: 10px;
                padding: 4px;
                padding-left: 10px;
                padding-right: 10px;
                color: blue;

                &:Hover {
                    background-color: blue;
                    color: deepskyblue;
                }
            }
        }
    }
}